@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #045295;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    text-align: center;
    color: #e1d506;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
